html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}


#post {
    margin: 0 auto;
    /* 380px */
    height: 100%;
    width: 15%;
    font-size: 500%;
    color: white;

}

#container {
    height: 30%;
}

#word {
    color: white;
    text-align: center;
    margin: 0;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dashes {
    color: white;
    text-align: center;
    margin: 15px 0;
    font-size: 40px;
}

#keyboard {
    margin: 0 auto;
    width: 300px;
    height: -10%;
    display: flex;
    gap: 11px;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;


}

.key {
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: white;
    background-color: black;
    text-align: center;
    margin: 5px;
    border: 2px solid white;
    border-radius: 5px;


}

.key:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 3px 3px 2px gray;
    transform: translateX(-3px) translateY(-3px);
}

#result {
    color: white;
    text-align: center;
    font-size: x-large;
    margin-bottom: 15px;
}

.pressed {
    background-color: rgb(34, 34, 34);
    pointer-events: none;
}

#reset {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    height: 30px;
    display: none;
    text-align: center;
    margin: 10px auto;
}

#reset:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 3px 3px 2px gray;
    transform: translateX(-3px) translateY(-3px);
}

#footer {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 95%;
}

@media screen and (max-height: 748px) {
    .key {
        height: 40px;
        width: 40px;
        line-height: 40px;
        color: white;
        text-align: center;
        margin: 5px;
        border: 2px solid white;
        border-radius: 5px;
    }
}